*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*=========================
  PALETA DE CORES NAVEGADOR
  ==========================*/
:root {
    --azul-principal: #070F3F;
    --azul-secundario: #254AB9;
    --verde-destaque: #00C896;
    --branco: #FFFFFF;
    --cinza-claro: #F5F6F8;
    --cinza-texto: #333333;
}
 /*=================
   CONTEÚDO DO SITE
====================*/
body {

    font-family: Arial, sans-serif;
    color: var(--cinza-texto);
    background-color: var(--branco);
}
 /*=================
  LAYOUT NAVEGADOR
  ==================*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}
 /*===========
   CABEÇALHO
  ============*/
header {
    background-color: var(--azul-principal);
}

.logo {
    color: var(--branco);
    font-size: 28px;
    font-weight: 700;
}
 /*=========
   MENU
 ===========*/
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: var(--branco);
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: var(--verde-destaque);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;

    padding: 60px 30px;
    gap: 50px;
}

.hero-conteudo {
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.1;
    color: var(--azul-principal);
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.botao {
    display: inline-block;

    padding: 14px 28px;

    background-color: var(--azul-secundario);
    color: var(--branco);

    text-decoration: none;
    font-weight: 600;

    border-radius: 8px;

    transition: 0.3s;
}
/*Mouse passando por cima*/
.botao:hover {
    background-color: var(--verde-destaque);
}
/*Elemento selecionado/Focado*/
.botao:focus {
    outline: 2px solid var(--verde-destaque);

    outline-offset: 4px;
}

.hero-imagem {
    flex: 1;

    min-height: 350px;

    background-color: var(--cinza-claro);

    border-radius: 20px;
}

.hero-imagem {
    width: 100%;
    height: 350px;
}

.hero-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* =========================
   SOBRE A BIBLIOTECA
========================= */

.biblioteca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 30px;
}
/* "SOBRE NOSSA BIBLIOTECA"*/
.biblioteca-conteudo h2 {
    font-size: 36px;
    color: var(--azul-principal);
    margin-bottom: 25px;
}

.biblioteca-conteudo p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.biblioteca-imagem {
    width: 100%;
    height: 350px;
}

.biblioteca-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.biblioteca-info {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
/*BORDAS  DO CARD*/
.info-card {
    padding: 15px;
    border: 1px solid #cccccca6;
    
    background-color: var(--cinza-claro);

    border-radius: 22px;
}
/*CONTEÚDO  DO CARD*/
.info-card h3 {
    color: var(--azul-principal);
    font-size: 20px;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 15px;
    line-height: 1.5;
}

/* =========================
   BANNER DE DESTAQUE
========================= */

.destaque {
    background-color: var(--azul-principal);

    width: 100%;

    padding: 50px 30px;

    text-align: center;
}

.destaque-conteudo {
    max-width: 800px;
    margin: 0 auto;
}

.destaque h2 {
    color: var(--branco);
    font-size: 36px;
    margin-bottom: 20px;
}

.destaque p {
    color: var(--branco);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* =========================
   PÁGINA DE LIVROS
========================= */

.livros {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 30px;
}

.livros-conteudo {
    text-align: center;
    margin-bottom: 50px;
}

.livros-conteudo h1 {
    font-size: 42px;
    color: var(--azul-principal);
    margin-bottom: 30px;
}

.livros-conteudo p {
    font-size: 18px;
    line-height: 1.6;
}


/* =========================
   GRID DOS LIVROS
========================= */

.livros-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}


/* =========================
   CARD DO LIVRO
========================= */

.livro-card {
    background-color: var(--branco);

    border: 1px solid #cccccc;

    border-radius: 12px;

    overflow: hidden;

    transition: 0.3s;
}

.livro-card:hover {
    transform: translateY(-5px);
}


/* =========================
   IMAGEM DO LIVRO
========================= */

.livro-imagem {
    height: 220px;

    background-color: var(--cinza-claro);

    overflow: hidden;
}

.livro-imagem img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}


/* =========================
   CONTEÚDO DO CARD
========================= */

.livro-conteudo {
    padding: 25px;
}

.livro-conteudo h2 {
    color: var(--azul-principal);

    font-size: 22px;

    margin-bottom: 12px;
}

.livro-conteudo p {
    font-size: 16px;

    line-height: 1.5;

    margin-bottom: 20px;
}

/*====================
   SESSÃO UNIDADES 
======================*/

.unidades {
    padding: 30px 8%;
}

.unidades-conteudo {
    text-align: center;
    margin-bottom: 50px;
}

.unidades-conteudo h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.unidades-conteudo p {
    font-size: 18px;
}

/*====================
   LISTA DE UNIDADES 
======================*/

.unidades-lista {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*==================
   CARD DA UNIDADE
====================*/

.unidade {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 30px;

    border-radius: 12px;

    background-color: #f5f5f5;
}

/*============
    IMAGEM 
==============*/

.unidade-imagem {
    width: 300px;
    height: 200px;

    flex-shrink: 0;
}

.unidade-imagem img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}

/*============
   CONTEÚDO 
==============*/

.unidade-conteudo {
    flex: 1;
}

.unidade-conteudo h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.unidade-conteudo p {
    font-size: 16px;
    line-height: 1.6;

    margin-bottom: 20px;
}


/* =========================
   PÁGINA DE CONTATO
========================= */

.contato {
    max-width: 1200px;

    margin: 0 auto;

    padding: 40px 30px;
}


/* =========================
   CABEÇALHO DO CONTATO
========================= */

.contato-conteudo {
    text-align: center;

    margin-bottom: 70px;
}

.contato-conteudo h1 {
    font-size: 45px;

    color: var(--azul-principal);

    margin-bottom: 15px;
}

.contato-conteudo p {
    font-size: 20px;

    line-height: 1.6;
}


/* =========================
   CARDS DE CONTATO
========================= */

.contato-info {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;

    margin-bottom: 50px;
}

.contato-card {
    padding: 30px;

    background-color: var(--cinza-claro);

    border-radius: 12px;

    text-align: center;
}

.contato-card h2 {
    color: var(--azul-principal);

    font-size: 22px;

    margin-bottom: 12px;
}

.contato-card p {
    font-size: 16px;

    line-height: 1.6;
}


/* =========================
   MENSAGEM
========================= */

.contato-mensagem {
    max-width: 800px;

    margin: 0 auto;

    padding: 25px 30px;

    background-color: var(--azul-principal);

    border-radius: 25px;

    text-align: center;
}

.contato-mensagem h2 {
    color: var(--branco);

    font-size: 30px;

    margin-bottom: 15px;
}

.contato-mensagem p {
    color: var(--branco);

    font-size: 17px;

    line-height: 1.6;

    margin-bottom: 25px;
}
/* =========================
   FOOTER
========================= */

footer {
    background-color: var(--azul-principal);

    color: var(--branco);

    margin-top: 60px;
}


/* =========================
   CONTEÚDO DO FOOTER
========================= */

.footer-conteudo {
    max-width: 1200px;

    margin: 0 auto;

    padding: 60px 30px;

    display: grid;

    grid-template-columns: 2fr 1fr 1fr;

    gap: 50px;
}


/* =========================
   INFORMAÇÕES
========================= */

.footer-info h2 {
    font-size: 24px;

    margin-bottom: 15px;
}

.footer-info p {
    font-size: 15px;

    line-height: 1.6;
}


/* =========================
   LINKS
========================= */

.footer-links {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.footer-links h3,
.footer-contato h3 {
    font-size: 18px;

    margin-bottom: 10px;
}

.footer-links a {
    color: var(--branco);

    text-decoration: none;

    font-size: 15px;

    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--verde-destaque);
}


/* =========================
   CONTATO
========================= */

.footer-contato p {
    font-size: 15px;

    line-height: 1.8;
}


/* =========================
   RODAPÉ FINAL
========================= */

.footer-final {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    text-align: center;

    padding: 20px 30px;
}

.footer-final p {
    font-size: 14px;
}

/* =========================
   RESPONSIVIDADE TELA
========================= */

@media (max-width: 768px) {

    nav {
        flex-direction: column;

        gap: 20px;

        padding: 20px;
    }

    nav ul {
        flex-direction: column;

        align-items: center;

        gap: 15px;
    }



    .hero {
        flex-direction: column;

        padding: 50px 20px;

        gap: 30px;
    }

    .hero-conteudo {
        text-align: center;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero-imagem {
        width: 100%;

        min-height: 250px;
    }

        .livros {
        padding: 50px 20px;
    }

    .livros-conteudo h1 {
        font-size: 36px;
    }

    .livros-grid {
        grid-template-columns: 1fr;

        gap: 25px;
    }

    .biblioteca {
        grid-template-columns: 1fr;

        padding: 50px 20px;

        gap: 30px;
    }

    .biblioteca-conteudo h2 {
        font-size: 32px;
    }

    .biblioteca-info {
        grid-template-columns: 1fr;

        gap: 20px;
    }

        .unidades {
        padding: 50px 20px;
    }

    .unidade {
        flex-direction: column;

        align-items: stretch;

        gap: 25px;

        padding: 20px;
    }

    .unidade-imagem {
        width: 100%;

        height: 220px;
    }

    .unidade-conteudo h2 {
        font-size: 24px;
    }

        .contato {
        padding: 50px 20px;
    }

    .contato-conteudo h1 {
        font-size: 36px;
    }

    .contato-info {
        grid-template-columns: 1fr;

        gap: 20px;
    }

    .contato-mensagem {
        padding: 40px 20px;
    }

        .footer-conteudo {
        grid-template-columns: 1fr;

        gap: 35px;

        padding: 40px 20px;
    }

}

.pagina-atual {
    color: var(--verde-destaque) !important;
}